<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="styles/main.css"  media="screen,projection"/>
  </head>

  <body>
    <div id="app"></div>

    <script type="text/javascript" src="scripts/jspm_packages/system.js"></script>
    <script type="text/javascript" src="scripts/config.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.js"></script>
    <!-- @ifdef DEBUG -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- @endif -->
  </body>
</html>
